
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  
  @media (prefers-reduced-motion: no-preference) {
    .rocket {
      animation: spin infinite 0.45s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      justify-content: center;
      align-items: center;
      margin: 50px auto;
      display: flex;
    }
  }