.alert {
    --danger-color:#721c24;
    --danger-background: #f5c6cb;
    --danger-border: #f8d7da;
    --warning-color: #856404;
    --warning-background: #fff3cd;
    --warning-border: #ffeeba;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    width: 90%;
    transition: all 3s ease-in-out;
}

.alert-link {
    font-weight: 700;
}

/* danger */
.alert-danger {
    color: var(--danger-color);
    background-color: var(--danger-background);
    border-color: var(--danger-border);
}


.alert-danger .alert-link {
    color: #491217;
}

/* warning */
.alert-warning {
    color: var(--warning-color);
    background-color: var(--warning-background);
    border-color: var(--warning-border);
}

.alert-warning .alert-link {
    color: #533f03;
}