@import './style/vars.css';


.App {
  text-align: center;
}

.App-header {
  background-color: var(--dark);
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--light);
}

.App-link {
  color: var(--prime2);
}

.App-container {
  margin: 0 30px;
  max-width: 1700px;
  padding: 5px;
}

nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a{
  color: var(--light);
  text-decoration: none;
  margin-inline-end: 2rem
}